/************************************** Tag Selectors *****************************************/
a {
    color: #11999E;
    margin: 0.75rem 1.5rem;
    text-decoration: none;
    font-family: 'Merriweather', serif;
}
a:hover {
    color: #EAF6F6;
}
body {
    line-height: 1.6em;         
    text-align: center;
    color: #40514E;
    margin: 0;
    padding: 0;
    background-color: #93FFD8;
}
h1 {
    font-family: 'Lobster Two', cursive;
    font-size: 3.5rem;
    color: #11999E;
}
h2 {
    font-family: 'Lobster Two', cursive;
    color: #11999E;
    font-size: 3rem;
    font-weight: normal;
    padding: 1rem 0;
    margin: 1rem auto;
}
h3 {
    color: #11999E;
    font-size: 1.5rem;
}
h4 {
    color: #66BFBF;
}
hr {
    margin: 6rem auto;
    width: 10%;
    border: 0.5rem dotted #EAF6F6; 
    border-bottom: none;
}
p {
    line-height: 2rem;
    font-family: 'Merriweather', serif;
}
/************************************* Class Selectors *****************************************/

.copyright {
    color: #EAF6F6;
    font-size: 1rem;
    padding: 1.3rem 0;
}
.database-img {
    width: 25%;
    float: right;
    margin-left: 2rem;
}
.others-img {
    width: 20%;
    float: left;
    margin-right: 2rem;
}
.proglang-img {
    width: 25%;
    float: left;
    margin-right: 2rem;
}
.skill-row, .project-row {
    width: 50%;
    margin: 1rem auto 4rem auto;
    text-align: left;
    padding: 2rem;
}
.my-intro {
    margin: 2rem auto; 
    position: relative;
    padding: 2rem 0;
    font-family: 'Merriweather', serif;
}
.my-skills {
    margin: 2rem auto;
    font-family: 'Merriweather', serif;
}
.my-projects {
    margin: 2rem auto;
    font-family: 'Merriweather', serif;
}
.get-in-touch {
    text-decoration: none;
    margin: 2rem auto 3rem;
    width: 40%
}
.contact {
    margin: auto;
    width: 40%;
    display: flex;
    justify-content: space-around;
}
.bottom-container {
    background-color: #66BFBF;
    padding: 3rem 0 1.5rem;
}

/* Navigate to Top Button styling */

.scroll-to-top {
    position: fixed;
    width: 4rem;
    height: 4rem;
    font-size: 2rem;
    color: #1C7947;
    background: #77D970;
    bottom: 20px;
    right: 30px;
    border: none;
    border-radius: 50%;
    font-family: 'Merriweather', serif;
}
.scroll-to-top:hover {
    color: #fff;
    background: #2B7A0B;
}
/* #topBtn {
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 9;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.5s ease-in-out;
  }
  
  #topBtn a:hover {
    background: #F0FFC2;
    transform-origin: center center;
  }
  
  #topBtn a span:hover {
    background: #BFFFF0;
    color: #362706;
    transform-origin: center center;
  }
  
  #topBtn a {
    display: block;
    text-align: center;
    height: 40px;
    width: 38px;
    background: #219F94;
    border-radius: 15px;
    cursor: pointer;
  }
  
  #topBtn a span {
    color: #EEEEEE;
    width: 38px;
    border-radius: 15px;
    line-height: 39px;
    text-decoration: none;
    font-size: 32px;
  } */

/************************************* Id Selectors *****************************************/
